# Database
DB_ROOT_PASSWORD=rootpassword
DB_NAME=fitreserve
DB_USER=fituser
DB_PASSWORD=fitpassword

# Symfony
APP_ENV=dev
APP_SECRET=change_me_in_production_32chars_min

# JWT
JWT_PASSPHRASE=your_jwt_passphrase_here

# URLs
FRONTEND_URL=http://localhost:5173
VITE_API_URL=http://localhost:8000
