APP_ENV=dev
APP_SECRET=change_me_to_a_32_char_random_string

DATABASE_URL="mysql://fituser:fitpassword@db:3306/fitreserve?serverVersion=8.0.36&charset=utf8mb4"

JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=fitreserve_jwt_passphrase
JWT_TOKEN_TTL=3600

FRONTEND_URL=http://localhost:5173
